$pink:               rgb(211, 117, 136);
$white:               #FFFFFF;
$blue:                rgb(112, 181, 228);
$grey:                rgb(207, 207, 207);

$primaryDark:         $pink;
$secondary:           $blue;
